body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../img/car\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

#result {
  margin: 16px 0;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: aliceblue;
}

.container {
  width: 350px;
  background-color: rgba(250, 235, 215, 0.363);
  padding: 20px;
  border-radius: 10px;
}

p,
h1 {
  color: black;
}
